.ice-layout {
  .next-menu {
    padding: 0;
  }
  .ice-layout-aside.custom-aside {
    background: #002140;
  }
}

.iframe-container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: white;
}